In [2]:
import pandas as pd 
import numpy as np

In [3]:
# X_train
df=pd.read_csv("X_train.csv")
df.head()

,id,year,fw_start,fw_end,country,c_abrv,v1,v2,v3,v4,...,v278b,v278c_r,v279a,v279b,v279c_r,v279d_r,v280,v281a,v281a_r,v282
0,0,2020,202011,202011,804,UA,2,1,2,2,...,45,14.45,15,40,15.40,55,1,uk,475,32
1,1,2018,201809,201811,688,RS,2,1,2,2,...,12,17.12,18,25,18.25,73,2,sr,397,3
2,2,2017,201706,201803,352,IS,2,2,1,1,...,58,15.58,13,20,13.20,-5,2,is,72,87
3,3,2021,202105,202110,428,LV,1,2,1,1,...,42,8.42,8,51,8.51,9,1,lv,256,5157
4,4,2018,201801,201805,40,AT,1,1,2,2,...,51,12.51,13,53,13.53,62,1,de,158,64

In [18]:
df.dtypes.value_counts()

int64      423
object       8
float64      7
dtype: int64

In [8]:
df.select_dtypes(include=['object']).head()

  c_abrv v228b v231b v233b v251b v275b_N2 v275b_N1 v281a
0     UA    -3    -3    -3    -3     UA13      UA1    uk
1     RS    -3    -3    -3    -3     RS12      RS1    sr
2     IS    -3    -3    -3    -3     IS00      IS0    is
3     LV    -3    -3    -3    -1     LV00      LV0    lv
4     AT    -3    -3    FR    -3     AT13      AT1    de

In [4]:
df = df.select_dtypes(exclude=['object']) # Do this every time
df.dtypes.value_counts()

int64      423
float64      7
dtype: int64

In [26]:
df.select_dtypes(include=['float']).columns.tolist()

['v228b_r', 'v231b_r', 'v233b_r', 'v251b_r', 'v261_ppp', 'v278c_r', 'v279c_r']

In [21]:
df.columns[df.isnull().any()].tolist()

['v228b_r', 'v231b_r', 'v233b_r', 'v251b_r']

In [5]:
df.fillna(-3, inplace=True) # Do this every time
df.isnull().sum().sum()

0

In [6]:
df[df < -2] = -2 # Do this every time
df.describe()

,id,year,fw_start,fw_end,country,v1,v2,v3,v4,v5,...,v278a,v278b,v278c_r,v279a,v279b,v279c_r,v279d_r,v280,v281a_r,v282
count,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,...,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,48000.000000,4.800000e+04
mean,23999.500000,2017.768500,201780.541229,201817.844646,399.609938,1.544208,1.129792,1.595792,1.696333,2.665667,...,13.193958,25.095063,13.446034,13.955438,27.169646,14.228275,54.004333,1.291375,209.191396,1.991886e+06
std,13856.550797,0.921846,89.317434,77.870720,258.365609,0.846671,0.437359,0.668425,0.739852,1.007985,...,4.942551,18.641322,4.984101,5.156105,18.668456,5.202179,42.736881,1.194800,150.303806,1.332819e+07
min,0.000000,2017.000000,201706.000000,201710.000000,8.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000e+00
25%,11999.750000,2017.000000,201709.000000,201801.000000,203.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,11.000000,8.000000,11.280000,12.000000,10.000000,12.200000,40.000000,1.000000,90.000000,2.200000e+01
50%,23999.500000,2018.000000,201801.000000,201804.000000,352.000000,1.000000,1.000000,2.000000,2.000000,3.000000,...,14.000000,24.000000,14.210000,15.000000,27.000000,15.150000,50.000000,1.000000,158.000000,1.580000e+02
75%,35999.250000,2018.000000,201808.000000,201811.000000,643.000000,2.000000,1.000000,2.000000,2.000000,3.000000,...,17.000000,41.000000,17.000000,17.000000,44.000000,17.520000,63.000000,2.000000,377.000000,3.847000e+03
max,47999.000000,2021.000000,202105.000000,202110.000000,826.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,23.000000,59.000000,23.570000,23.000000,59.000000,23.590000,1320.000000,3.000000,600.000000,9.243168e+07

In [3]:
# y_train
y_train = pd.read_csv("y_train.csv")
y_train.head()

   id  label
0   0      2
1   1      2
2   2      4
3   3      3
4   4      3

In [16]:
y_train.isnull().sum().sum()

0

In [17]:
# x_test
x_test = pd.read_csv("X_test.csv")
x_test.head()

,id,year,fw_start,fw_end,country,c_abrv,v1,v2,v3,v4,...,v278b,v278c_r,v279a,v279b,v279c_r,v279d_r,v280,v281a,v281a_r,v282
0,0,2019,201907,201912,499,ME,1,1,1,1,...,13,15.13,16,42,16.42,89,2,cnr,186,1
1,1,2019,201907,201912,499,ME,2,1,2,2,...,33,12.33,13,58,13.58,85,2,cnr,186,1
2,2,2019,201907,201912,499,ME,1,1,2,2,...,9,11.09,12,3,12.03,54,2,cnr,186,1
3,3,2019,201907,201912,499,ME,1,1,2,1,...,15,10.15,11,18,11.18,63,2,cnr,186,1
4,4,2019,201907,201912,499,ME,1,1,1,1,...,10,13.10,14,55,14.55,105,1,cnr,186,4

In [18]:
x_test.dtypes.value_counts()

int64      426
object       8
float64      4
dtype: int64

In [19]:
x_test = x_test.select_dtypes(exclude=['object']) # Do this every time
x_test.dtypes.value_counts()

int64      426
float64      4
dtype: int64

In [25]:
x_test.select_dtypes(include=['float']).columns.tolist()

['v233b_r', 'v261_ppp', 'v278c_r', 'v279c_r']

In [22]:
x_test.columns[x_test.isnull().any()].tolist()

['v233b_r']

In [23]:
x_test.fillna(-3, inplace=True) # Do this every time
x_test.isnull().sum().sum()

0

In [ ]:
x_test[x_test < -2] = -2 # Do this every time

In [12]:
X_tr = df.values[:,1:] # Do this every time
X_tr

array([[ 2.02000e+03,  2.02011e+05,  2.02011e+05, ...,  1.00000e+00,
         4.75000e+02,  3.20000e+01],
       [ 2.01800e+03,  2.01809e+05,  2.01811e+05, ...,  2.00000e+00,
         3.97000e+02,  3.00000e+00],
       [ 2.01700e+03,  2.01706e+05,  2.01803e+05, ...,  2.00000e+00,
         7.20000e+01,  8.70000e+01],
       ...,
       [ 2.01800e+03,  2.01802e+05,  2.01807e+05, ...,  1.00000e+00,
         1.30000e+01,  1.00000e+01],
       [ 2.01700e+03,  2.01709e+05,  2.01801e+05, ..., -4.00000e+00,
         3.20000e+01, -4.00000e+00],
       [ 2.01800e+03,  2.01802e+05,  2.01807e+05, ...,  1.00000e+00,
         1.28000e+02,  7.82300e+03]])

In [13]:
y_tr = y_train.values[:,1] # Do this every time
y_tr

array([2, 2, 4, ..., 4, 4, 3], dtype=int64)

In [15]:
y_tr[y_tr == -1] = 0 # Do this every time
y_tr.min()

0