In [8]:
import pandas as pd 
import numpy as np
import data
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Some scratch work to make sure data.py works as intended
dataset = data.Dataset()
X_train = dataset.getTrain().values
X_test = dataset.getTest().values

In [13]:
nominal_cols = ['country', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24',
                        'v20a', 'v20b', 
                        'v24a_IT', 'v24b_IT',
                        'v25', 'v26', 'v27', 'v28', 'v29', 'v30',
                        'v30a', 'v30b', 'v30c',
                        'v40', 'v41', 'v42', 'v43', 'v44', 'v45', 
                        'v45a', 'v45b', 'v45c',
                        'v51', 'v52', 'v53', 
                        'v52_cs',
                        'v56', 'v57', 'v58', 'v59', 'v60', 'v61', 
                        'v71',
                        'v72_DE', 'v73_DE', 'v74_DE', 'v75_DE', 'v76_DE', 'v77_DE', 'v78_DE', 'v79_DE',
                        'v85', 'v86', 'v87', 'v88', 'v89', 'v90', 'v91', 'v92', 'v93', 'v94', 'v95', 'v96', 
                        'v96a', 'v96b',
                        'v108', 'v109', 'v110', 'v111', 'v112', 'v113', 'v114',
                        'v169',
                        'v174_cs', 'v175_cs',
                        'v204',
                        'v225',
                        'v227',
                        'v228b',
                        'v230',
                        'v231b',
                        'v232',
                        'v233b',
                        'v234', 'v235', 'v236', 'v237', 'v238',
                        'v244', 'v245',
                        'v246_egp',
                        'v248', 'v249', 'v250',
                        'v251b',
                        'v253', 'v254',
                        'v255_egp',
                        'v257',
                        'v259', 'v260',
                        'v264', 'v265',
                        'v275c_N2', 'v275c_N1',
                        'v281a_r',
                        'v282',
                        'f20',
                        'f24_IT',
                        'f30a',
                        'f45a',
                        'f46_IT',
                        'f85',
                        'f96',
                        'f108',
                        'f110',
                        'f112_SE',
                        'f252_edulvlb_CH']
cols_to_drop = ['id', 'c_abrv', 'v228b_r', 'v231b_r', 'v233b_r', 'v251b_r', 'v275b_N2', 'v275b_N1', 'v281a',
                        'v243_edulvlb', 'v243_edulvlb_2', 'v243_edulvlb_1', 'v243_ISCED_3', 'v243_ISCED_2', 'v243_ISCED_2b', 'v243_ISCED_1', 'v243_EISCED', 'v243_ISCED97',
                        'v243_cs', 'v243_cs_DE1', 'v243_cs_DE2', 'v243_cs_DE3', 'v243_cs_GB1', 'v243_cs_GB2', 
                        'v246_ISCO_2', 'v246_SIOPS', 'v246_ISEI', 'v246_ESeC',
                        'v252_edulvlb', 'v252_edulvlb_2', 'v252_edulvlb_1', 'v252_ISCED_3', 'v252_ISCED_2', 'v252_ISCED_2b', 'v252_ISCED_1', 'v252_EISCED', 'v252_ISCED97',
                        'v252_cs', 'v252_cs_DE1', 'v252_cs_DE2', 'v252_cs_DE3', 'v252_cs_GB1', 'v252_cs_GB2',
                        'v255_ISCO_2', 'v255_SIOPS', 'v255_ISEI', 'v255_ESeC',
                        'v262_edulvlb', 'v262_edulvlb_2', 'v262_edulvlb_1', 'v262_ISCED_3', 'v262_ISCED_2', 'v262_ISCED_2b', 'v262_ISCED_1', 'v262_EISCED', 'v262_ISCED97',
                        'v262_cs', 'v262_cs_DE1', 'v262_cs_DE2', 'v262_cs_DE3', 'v262_cs_GB1', 'v262_cs_GB2',
                        'v263_edulvlb', 'v263_edulvlb_2', 'v263_edulvlb_1', 'v263_ISCED_3', 'v263_ISCED_2', 'v263_ISCED_2b', 'v263_ISCED_1', 'v263_EISCED', 'v263_ISCED97',
                        'v263_cs', 'v263_cs_DE1', 'v263_cs_DE2', 'v263_cs_DE3', 'v263_cs_GB1', 'v263_cs_GB2',
                        'age', 'v241', 'v242']

In [16]:
X_train = pd.read_csv('../X_train.csv')        
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train[nominal_cols] = X_train[nominal_cols].astype(str)

In [17]:
X_train.dtypes.value_counts()

int64      302
object     129
float64      7
dtype: int64

In [18]:
train_enc = ohe.fit_transform(X_train[nominal_cols])
train_oh = pd.DataFrame(train_enc, columns=ohe.get_feature_names_out())
X_train = pd.concat([X_train, train_oh], axis=1).reindex(X_train.index)

In [19]:
X_train.iloc[:, 438:].head()

,country_100,country_112,country_191,country_203,country_208,country_233,country_246,country_250,country_268,country_276,...,f108_-10,f108_0,f108_1,f110_-10,f110_0,f110_1,f112_SE_-4,f252_edulvlb_CH_-4,f252_edulvlb_CH_0,f252_edulvlb_CH_1
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0

In [ ]:
X_train.drop(nominal_cols, axis=1, inplace=True)
X_train.drop(cols_to_drop, axis=1, inplace=True)
X_train[X_train <= -2] = np.nan

In [ ]:
X_train.head()